---
layout: layouts/base.njk
---
<section class="sg-section">
  <p>Typography</p>
  <div class="sg-components">
    {% include 'type.njk' %}
  </div>
</section>
<section class="sg-section">
  <p>Buttons</p>
  <div class="sg-components">
    {% include 'buttons.njk' %}
  </div>
</section>
<section class="sg-section">
  <p>Surfaces</p>
  <div class="sg-components">
    {% include 'surfaces.njk' %}
  </div>
</section>
<section class="sg-section">
  <p>Dropdown</p>
  <div class="sg-components">
    {% include 'dropdown.njk' %}
  </div>
</section>
<section class="sg-section">
  <p>Media</p>
  <div class="sg-components">
    {% include 'media.njk' %}
  </div>
</section>
<section class="sg-section">
  <p>Tabs</p>
  <div class="sg-components">
    {% include 'tabs.njk' %}
  </div>
</section>
<section class="sg-section">
  <p>Modal</p>
  <div class="sg-components">
    {% include 'modal.njk' %}
  </div>
</section>
<section class="sg-section">
  <p>Components</p>
  <div class="sg-components">
    {% include 'components.njk' %}
  </div>
</section>