<div>  
  <button class="mdc-button mdc-button--raised">
    Primary Button
  </button>
  <button class="mdc-button mdc-button--outlined">
    Secondary Button
  </button>
  <button class="mdc-button">
    Text Button
  </button>
  <button class="mdc-button mdc-button--raised mdc-button--destruct">
    Destructive Button
  </button>
  <button class="mdc-fab" aria-label="Favorite">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon material-icons">mic</span>
  </button>
</div>
