<figure class="swatch" data-colour="primary">
  <p>Primary</p>
  <p>#1BAAD7</p>
</figure>
<figure class="swatch" data-colour="secondary">
  <p>Secondary</p>
  <p>#C4D02B</p>
</figure>
<figure class="swatch" data-colour="text-primary">
  <p>Text High Priority</p>
  <p>#222</p>
</figure>
<figure class="swatch" data-colour="text-secondary">
  <p>Text Medium Priority</p>
  <p>#444</p>
</figure>
<figure class="swatch" data-colour="text-low">
  <p>Text Low Priority</p>
  <p>#888</p>
</figure>
<figure class="swatch" data-colour="muted">
  <p>Muted</p>
  <p>#F5F5F5</p>
</figure>
<figure class="swatch" data-colour="base">
  <p>Base</p>
  <p>#FFF</p>
</figure>