<div>
  <div class="cc-actions">
    <div class="cc-actions--av-controls">
      <button class="mdc-fab" aria-label="Microphone">
        <div class="mdc-fab__ripple"></div>
        <span class="mdc-fab__icon material-icons">mic</span>
      </button>
      <button class="mdc-fab" aria-label="Video">
        <div class="mdc-fab__ripple"></div>
        <span class="mdc-fab__icon material-icons">videocam</span>
      </button>
      <button class="mdc-fab" aria-label="More">
        <div class="mdc-fab__ripple"></div>
        <span class="mdc-fab__icon material-icons">more_horiz</span>
      </button>
    </div>
    <button class="mdc-button mdc-button--raised mdc-button--destruct">Leave call</button>
  </div>
</div>