<div class="mdc-select mdc-select--filled">
  <div class="mdc-select__anchor">
    <span class="mdc-select__ripple"></span>
    <span class="mdc-floating-label">Microphone</span>
    <span class="mdc-select__selected-text" style="position:absolute; line-height:1.8"></span>
    <span class="mdc-select__dropdown-icon"></span>
    <span class="mdc-line-ripple"></span>
  </div>

  <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
    <ul class="mdc-list">
      <li class="mdc-list-item" data-value="grains">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__text">Built-in Microphone</span>
      </li>
      <li class="mdc-list-item" data-value="vegetables">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__text">Jabra 123</span>
      </li>     
    </ul>
  </div>
</div>