<div class="cc-video cc-video--full">  
  <video autoplay="true" class="large-video"></video>
</div>

<div class="cc-video cc-video--avatar">
  <video autoplay="true" class="my-video" />
</div>

<div class="cc-mic-setting">
  <a href="#" class="mic-toggle">    
    <span class="mdc-fab__icon material-icons cc-mic-setting--icon">mic</span>
  </a>
  <progress class="mic-meter" value="32" max="100"></progress>
</div>
  