<h1 class="mdc-typography--headline1">Headline 1</h1>
<h2 class="mdc-typography--headline2">Headline 2</h2>
<h3 class="mdc-typography--headline3">Headline 3</h3>
<h4 class="mdc-typography--subtitle1">Subtitle 1</h4>
<p class="mdc-typography--body1">Body 1</p>
<p class="mdc-typography--body2">Body 2</p>
<p class="mdc-typography--caption">Caption</p>