<!DOCTYPE html>
<html>
  <head>
    <title>eCOA Live Theme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import Material Icons from Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- import the Material stylesheet -->
    <link rel="stylesheet" href="/dist/bundle.css">
    <style>
      body {
        max-width:1024px;
        margin:0 auto;        
      }
      .sg-section {
        padding-top:7rem;
      }
      .sg-section > p:first-of-type {
        font-family:monospace;
        text-transform:uppercase;
        margin:0 0 1rem 0;
        color:#888;
      }
      .swatch {
        padding:1.5rem 1rem;
        border-radius:4px;
        margin-bottom:1.5rem;
      }
      .swatch p + p {
        margin-top:.5rem;
        font-weight:normal;
      }
      .swatch p {
        font-weight:500;
      }
      .swatch p:last-of-type {
        opacity:0.7;
      }

      .swatch[data-colour="primary"] {
        background-color:#1BAAD7;
        color:white;
      }
      .swatch[data-colour="secondary"] {
        background-color:#C4D02B;
        color:black;
      }
      .swatch[data-colour="text-primary"] {
        background-color:#222;
        color:#fff;
      }
      .swatch[data-colour="text-secondary"] {
        background-color:#444;
        color:#fff;
      }
      .swatch[data-colour="text-low"] {
        background-color:#888;
        color:#fff;
      }
      .swatch[data-colour="muted"] {
        background-color:#f5f5f5;
        color:#222;
      }
    </style>
  </head>
  <body class="mdc-typography">
    {{ content | safe }}
    <!-- import the Material javascript file -->
    <script src="/dist/bundle.js" async></script>
  </body>
</html>